body {
    text-align: center;
    background-image: url("imagenes/bg.jpg");
    background-size: contain;
    background-position: center;
    color: white;
}


h1{
    font-size: 50px;
}

p {
    max-width: 900px;
    margin: 20px auto;
    font-size: 30px;
}

.Spiderman{
    width: 1100px;
    height: auto;
}

.Daredevil{
    width: 1100px;
    height: auto;
}

.Ironman{
    width: 1100px;
    height: auto;
}

.Punisher{
    width: 1100px;
    height: auto;
}

.Ironman{
    width: 1100px;
    height: auto;
}

.Thor{
    width: 1100px;
    height: auto;
}

.Loki{
    width: 1100px;
    height: auto;
}


.volver-arriba {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 60px;
    height: auto;
}